#registercontainer {
    width: 60%;
    height: 85%;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    border: 3px solid #ddd;
    box-shadow: 0 0 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: aaa 1s ease-in-out;
    /* z-index: -1; */
    /*待改*/
}

#registercontent {
    width: 95%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftregister {
    width: 47%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2.5px solid #ddd;
}

#rightregister {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerform {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerformtitle {
    font-size: 50px;
    margin-bottom: 30px;
}

#registerform {
    z-index: 5555;
}

form .inputarea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}

form .inputarea input {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    background: none;
}

#registerfunction {
    font-size: 30px;
    background: white;
    margin-top: 20px;
    padding: 10px 20px;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    color: black;
}

#registerfunction:hover{
    background-color: black;
    box-shadow: 0 0 2px white;
    color: white;
    transition: .5s;
}

#hadaccountbtn {
    font-size: 17px;
    margin-top: 20px;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

#hadaccountbtn:hover {
    color: black;
}