<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS_NotLogin/index.css">
    <link rel="stylesheet" href="/CSS_NotLogin/login.css">
    <link rel="stylesheet" href="/CSS_NotLogin/RWDforlogin.css">
    <title>輸入驗證碼</title>
</head>

<body>

    <div id="allarea">

        <div id="toparea">
            <div id="topcontent">
                <div id="logo"></div>
                <div id="menu">
                    <div class="menu" id="homebtn"></div>
                    <div class="menu" id="rigisterbtn"></div>
                    <div class="menu" id="loginbtn"> </div>
                </div>

                <div id="sidemenubtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-list-ul" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    </svg>
                </div>

            </div>

            <div id="sidemenu">
                <div class="sidemenu" id="homebtnforside">🏠 首頁</div>
                <div class="sidemenu" id="rigisterbtnforside">📝 註冊</div>
                <div class="sidemenu" id="loginbtnforside">🔑 登入</div>
            </div>
        </div>

        <div id="bottomarea">
            <div id="bg1"></div>
            <div id="bg2"></div>
            <div id="bg3"></div>
            <div id="bg4"></div>

            <div id="logincontainer">
                <div id="logincontent">
                    <div id="leftlogin">
                        <div id="titforlogo"></div>
                    </div>

                    <div id="rightlogin">
                        <div id="loginform">
                            <div id="loginformtitle">OTP驗證</div>
                            <form action="/auth/verifycode" method="POST">
                                <div class="inputarea">
                                    <input type="text" name="verifycode" id="verifycode" placeholder="請從信箱查看驗證碼並輸入">
                                </div>

                                <input type="submit" id="verifyfunction" value="驗證">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="/index2.js"></script>

</html>