<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信箱啟用過期</title>
</head>

<body>
    <h1 style="color: red;font-size:50px;font-weight:600;text-align:center;">
        您的信箱啟用已過期！已被註銷！請重新註冊
    </h1>
</body>

</html>