<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信箱啟用成功</title>
</head>

<body>
    <h1 style="color: green;font-size:50px;font-weight:600;text-align:center;">
        您的信箱已成功啟用！！現在可以前往登入
    </h1>
</body>

</html>